html{
    font-size: 62.5%;
    box-sizing: border-box;
}


body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;

}

#root{
    height: 100%;
}


.grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
    width: 100%;
}

.header{
    grid-area: 1/1/2/4;
    background-color: darkolivegreen;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.brand a{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.brand a:hover{
    color:yellow;
    text-decoration: none;
}

.header-links{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-links a{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header-links a:hover{
    color:yellow;
    text-decoration: none;
}

.header-links button{
    background-color: orange;
    padding: 0.5rem
}

.main{
    grid-area: 2/1/3/4;
    background-color:white;
    color: purple;
    padding: 0.5rem;
}


.footer{
    grid-area: 3/1/4/4;
    background-color: darkolivegreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

a{
    text-decoration: none;
}

a:hover{
    color: red
}
/* Main Screen */

.sneaker{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.list-sneaker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list-sneaker li{
    list-style-type: none;
    padding: 1rem;
    flex: 0 1 34rem;
    margin: 2 rem;
    height: 40rem;
    border-bottom: .1rem gray solid;
    border-right: .1rem gray solid;
    border-left: .1rem gray solid;
}

.sneaker-image{
    max-width: 34rem;
    max-height: 34rem;

}

.sneaker-name{
    font-size: 2rem;
    /* font-weight: ; */
}

.sneaker-brand{
    font-size: 1.2rem;
    color: gray;
}

.sneaker-price{
    font-size: 2rem;
    color: gray;
    font-weight: bold;
}

/*Side bar section*/

.brand button{
    font-size: 3rem;
    padding: .5rem;
    background: none;
    color: #ffffff;
    border: none;
    cursor: pointer;

}

.sidebar{
    position: fixed;
    transition: all .5s;
    transform: translateX(-30rem);

    width: 30rem;
    background-color: darkolivegreen;
    height: 100%;
}

.sidebar li{
    height: 5rem;
    /* border-top: 0.2rem white solid; */
    font-size: 2.5rem;
    text-align: center;
}

.sidebar h3{
    text-align: center;
}

.sidebar.open{
    transform: translateX(0);

}

.sidebar-close-button{
    border-radius: 30%;
    border: 0.1rem black solid;
    color: black;
    width: 6rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
}

/*Sneaker details*/

.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}

.details-image{
    flex: 2 1 60rem;
}

.details-image img{
    max-width: 60rem;
    max-height: 100%;
}

.details-info{
    flex: 1 1 60rem;
}

.details-action{
    flex: 1 1 30rem;
}

.details-info ul, .details-action ul{
    list-style-type: none;
    padding: 0;
}

.details-info li, .details-action li{
    margin-bottom:  1rem;
}

.back-to-home{
    padding: 1rem;
}

.details-action{
    border: .1rem gray solid;
    border-radius: .5rem;
    background-color: lightgrey;
    padding: 1rem;
}

.details-action ul li:last-child{
    display: flex;
    flex-direction: column;
}

.details-action button{
    padding: 1rem;
    border: .1rem;
    border-radius: .5rem;
}

.details-action button:hover{
    background-color: orange;
}

/*Shopping cart*/

.button-add-cart{
    padding: 1rem;
    border: .1rem;
    border-radius: .5rem;
}

.button-add-cart:hover{
    background-color: orange;
}

.cart{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    align-items: flex-start;
}

.cart-list{
    flex: 3 1 60rem;
}

.cart-action{
    flex: 3 1 20rem;
    background-color: lightgrey;
    padding: 2rem;
    border: .3rem black solid;
    border-radius: 1rem;
}

.cart-list-container {
    padding: 1rem;
    list-style-type: none;
}
.cart-list-container li:first-child{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: none;
}

.cart-list-container li{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
    border-bottom: .1rem black solid;
    border-top: .1rem black solid;
    padding: 1rem;
}
.cart-list-container li:first-child{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cart-list-container li img{
    max-width: 10rem;
    max-height: 10rem;

}

.cart-image{
    flex: 1 1;

}

.cart-name{
    flex: 8 1;
    font-size: 2rem;
    text-align: center;
}

.cart-price{
    flex: 1 1;
    font-weight: bold;
    text-align: right;
}


/* SIGN IN PAGE FORM*/
.button.primary{
    background-color: yellow;
    padding: 0.5rem;
}

.button.secondary{
    background-color: darkgray;
}

.text-center{
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: .1rem lightgray solid;
    border-radius: 0.5rem;
    list-style-type: none;
}

.form-container li{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

input{
    padding: 1rem;
    border: .1rem lightgray solid;
    border-radius: 0.5rem;
}

/* Checkout Steps */

.checkout-steps{
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 1rem auto;

  }
  .checkout-steps > div{
    border-top: .3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1;
    padding-top: 1rem;
  }
  .checkout-steps > div.active{
    border-top: .3rem #f08000 solid;
    color: #f08000;
  }

/* Place Order */

.placeorder{
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info{
  flex: 3 1 60rem;
}
.placeorder-action{
  flex: 1 1 20rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div{
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child{
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child{
    font-size: 2rem;
    font-weight: bold;
    color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}

/*Confirmation Page*/

div.greatings-message{
    border: none;
    text-align: center;
    background-color: olive;
    color: white;
}

/*brandDetails*/

div.brand-list-name{
    border: 0.1rem black solid;
    background-color: darkolivegreen;
    color:white;
    position: relative;
    left: 40%;
    top: 1.2rem;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 30rem;
    font-size: 5rem;
}
